.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* nav bar pages */
.navBar {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  gap: 100px;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 50px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: lightblue;
}
/* 
.aboutDiv, .projectDiv {
  margin-top: 800px;
} */

.introDiv {
  display: flex;
  flex-direction: row;
  gap: 60px;
}

.introScreen {
  /* margin: 200px; */
  margin-top: 300px;
}

.contactDiv {
  margin-bottom: 50px;
}

input {
  height: 25px;
  width: 150px;
  border-radius: 10px;
  border: none;
}

.project1, .project2, .project3 {
  width: 1250px;
  height: 400px;
  background-color: lightblue;
  border-radius: 15px;
}

.project1Img {
  width: 40%;
}

.project1Flex, .project2Flex, .project3Flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
  background-color: red;
}

.contact1 {
  display: flex;
  margin-bottom: 10px;
  gap: 10px;
}
.contact2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.submit {
  width: 100px;
}

.footerText {
  font-size: 15px;
}